body {
    background-color: #242424;
    color: #fff;
    font-family: monospace, monospace;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    padding: 40px;
    border-radius: 10px;
}

#taskInput {
    width: 300px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

#addTaskButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #f44336;
    margin-left: 10px;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}